body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:924px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1340px;
  height:924px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quasimoda-ExtraLight', 'Quasimoda ExtraLight', 'Quasimoda';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:97px;
  width:32px;
  height:23px;
  font-family:'Quasimoda-ExtraLight', 'Quasimoda ExtraLight', 'Quasimoda';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u99_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quasimoda-Bold', 'Quasimoda Bold', 'Quasimoda';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u99.mouseOver {
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:100px;
  width:18px;
  height:18px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quasimoda-ExtraLight', 'Quasimoda ExtraLight', 'Quasimoda';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:129px;
  width:59px;
  height:23px;
  font-family:'Quasimoda-ExtraLight', 'Quasimoda ExtraLight', 'Quasimoda';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u101_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quasimoda-Bold', 'Quasimoda Bold', 'Quasimoda';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u101.mouseOver {
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quasimoda-ExtraLight', 'Quasimoda ExtraLight', 'Quasimoda';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:163px;
  width:76px;
  height:23px;
  font-family:'Quasimoda-ExtraLight', 'Quasimoda ExtraLight', 'Quasimoda';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u102_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quasimoda-Bold', 'Quasimoda Bold', 'Quasimoda';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u102.mouseOver {
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  white-space:nowrap;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quasimoda-SemiBold', 'Quasimoda SemiBold', 'Quasimoda';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:197px;
  width:85px;
  height:23px;
  font-family:'Quasimoda-SemiBold', 'Quasimoda SemiBold', 'Quasimoda';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u103_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quasimoda-Bold', 'Quasimoda Bold', 'Quasimoda';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#272727;
  text-align:left;
}
#u103.mouseOver {
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:295px;
  width:474px;
  height:550px;
  overflow:hidden;
}
#u104_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:550px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u104_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:312px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quasimoda-ExtraLight', 'Quasimoda ExtraLight', 'Quasimoda';
  font-weight:200;
  font-style:normal;
  font-size:22px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:312px;
  font-family:'Quasimoda-ExtraLight', 'Quasimoda ExtraLight', 'Quasimoda';
  font-weight:200;
  font-style:normal;
  font-size:22px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
