@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

@keyframes bounceUpLight {
    0% {
        transform: translateY(0);
        background-color: var(--lighter-text-color);
    }
    20% {
        transform: translateY(12px);
    }
    40% {
        transform: translateY(8px);
    }
    60% {
        transform: translateY(12px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounceDownLight {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-12px);
    }
    40% {
        transform: translateY(-8px);
    }
    60% {
        transform: translateY(-12px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        background-color: var(--light-text-color);
    }
}

@keyframes bounceUpDark {
    0% {
        transform: translateY(0);
        background-color: var(--darker-text-color);
    }
    20% {
        transform: translateY(12px);
    }
    40% {
        transform: translateY(8px);
    }
    60% {
        transform: translateY(12px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounceDownDark {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-12px);
    }
    40% {
        transform: translateY(-8px);
    }
    60% {
        transform: translateY(-12px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        background-color: var(--dark-text-color);
    }
}

:root {
    --light-bg-color: #f3f4f6;
    --dark-bg-color: #030712;
    --light-text-color: #9ca3af;
    --lighter-text-color: #f9fafb;
    --dark-text-color: #4b5563;
    --darker-text-color: #030712;
}

html {
    text-align: left;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-size: 100%;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: 0em;
    color: var(--dark-text-color);
}

body {
    background: var(--light-bg-color);
    margin: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.content {
    padding: 0 16px;
}

.dots {
    display: flex;
    gap: 8px;
}

.dot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--dark-text-color);
    transition: transform 0.2s ease-in-out;
}

.dots:hover > .dot {
    animation: bounceUpDark 0.5s ease-in-out, bounceDownDark 0.5s ease-in-out;
    animation-fill-mode: both;
}

.dots:hover > #dot-1 {
    animation-delay: 0ms;
}

.dots:hover > #dot-2 {
    animation-delay: 100ms;
}

.dots:hover > #dot-3 {
    animation-delay: 200ms;
}

p {
    font-size: 150%;
    font-family: "Playfair Display", serif;
    margin-top: 48px;
    max-width: 520px;
}

a {
    color: var(--dark-text-color);
    text-decoration: none;

    -webkit-transition-duration: 0.2s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;

    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid;
    visibility: inherit;
    color: var(--darker-text-color);
}

nav > a {
    margin-right: 8px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-bg-color);
        color: var(--light-text-color);
    }

    .dots:hover > .dot {
        animation: bounceUpLight 0.5s ease-in-out, bounceDownLight 0.5s ease-in-out;
        animation-fill-mode: both;
    }

    .dot {
        background-color: var(--light-text-color);
    }

    a {
        color: var(--light-text-color);
    }

    a:hover {
        color: var(--lighter-text-color);
    }
}
